{% extends 'base.html' %}

{% block contents %}

    <style>

    .testing {
        background-color: rgba(220, 182, 29, 0.68);
        height: 48px;
        width: 48px;
        margin: 1rem;
        border-radius: .5rem;
    }

    </style>

    <div style="height: 10rem; background-color: aqua; margin: 2rem; border-radius:1rem">
        <h1>TEST</h1>

    <div class="testing" style="display: block">block</div>
    <div class="testing" style="display: inline">inline</div>
    <div class="testing" style="display: inline-block">inline-block</div>
    <div class="testing" style="display: none">none</div>
    <div class="testing"></div>


    </div>

{% endblock %}