.baroni_header_logo{
    margin:2rem 0;
    font-family: 'Fuggles', cursive
}

.baroni_header_button{
    margin-bottom: 2em
}

.baroni_footer_logo{
    margin:1.5rem 0;
    font-family: 'Staatliches', cursive
}

.baroni_footer_button{
    margin-top: 2rem
}