<div style="text-align: center">
    <div ></div> {# 상하 3rem, 좌우 0rem #}
    <div class="baroni_header_logo">
        <h1>Baroni Drawer</h1>
    </div>
    <div class="baroni_header_button">
        <span>nav1</span>
        <span>nav2</span>

{% if not user.is_authenticated  %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}
    </div>

</div>